# prism-api
AUTH0_DOMAIN=your-auth0-domain
AUTH0_AUDIENCE=your-audience
PRISM_API_LB_PORT=7071
DEBUG=false

# infra
COMMAND_QUEUE=commands
DOMAIN_EVENTS_QUEUE=domain-events
TASK_EVENTS_TABLE=TaskEvents
USER_EVENTS_TABLE=UserEvents
TASKS_TABLE=Tasks
USERS_TABLE=Users
SETTINGS_TABLE=UserSettings
STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;"

# frontend
VITE_AUTH0_DOMAIN=your-auth0-domain
VITE_AUTH0_CLIENT_ID=your-client-id
VITE_AUTH0_AUDIENCE=your-audience
VITE_STREAM_URL=""
VITE_API_BASE_URL=""
FRONTEND_PORT=8080
CORS_ALLOWED_ORIGINS=.*

# stream-service
STREAM_SERVICE_PORT=9000

# redis
REDIS_CONNECTION_STRING=redis://redis:6379
TASK_UPDATES_CHANNEL=task-updates
SETTINGS_UPDATES_CHANNEL=settings-updates

# az func specific
AZ_FUNC_JOB_HOST_LOG_LEVEL=Information