STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNoGVXb2WMj6nIHBxz1xDIb1iQ9S6gzKN28k19dYSR3DVPTOflUesUODmJq3KDKvEV9kHhOySLjeYoqGN7sVBxZe9+qe/OGog==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;
TABLE_NAME=tasks
